/* Mobile-first approach */
@mixin breakpoint($size){
    @if $size == sm{
        // Small devices (landscape phones, 576px and up)
        @media (min-width: 576px) { @content; }
    }

    @if $size == md{
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { @content; }
    }

    @if $size == lg{
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) { @content; }
    }

    @if $size == xl{
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { @content; }
    }
}