$strengths: 10% 20% 30% 40% 50% 60% 70% 80% 90%;
$primary-color: #2CA10C; // #ff8500
$secondary-color: #030059; // #142b4e
$accent-color: #007FAA; // #16a5fa
$success-color: #40B630;
$error-color: #FF151F;
$primary-color-lighter-derivations: getColorLighterDerivations($primary-color, $strengths);
$primary-color-darker-derivations: getColorDarkerDerivations($primary-color, $strengths);
$secondary-color-lighter-derivations: getColorLighterDerivations($secondary-color, $strengths);
$secondary-color-darker-derivations: getColorDarkerDerivations($secondary-color, $strengths);
$accent-color-lighter-derivations: getColorLighterDerivations($accent-color, $strengths);
$accent-color-darker-derivations: getColorDarkerDerivations($accent-color, $strengths);

//#region CGF
$flyOutContainerMinWidth: 400px;
$fly-out-primary-text-color: #ffffff;
$background-value: linear-gradient(0deg, #dedee4, #1c1a6a), $secondary-color;
//#endregion CGF