pbi-color-format {
  $accordion-color: $secondary-color;
  $primary-text-color: #ffffff;
  $text-widget-background: rgba(255, 255, 255, 0.1);

  @mixin align-center-via-flex {
    display: flex;
    justify-content: center;
  }

  @mixin text-editor-base-format {
    background: $text-widget-background;
    border-radius: 2px;
    border: none;
  }

  .active-properties-tab ul li {
    align-items: center;
    background-color: $accordion-color;
    color: $primary-text-color;
    display: flex;
    height: 42px;
    justify-content: space-between;
    padding: 8px 20px 4px 20px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
  }

  .active-properties-basic-tab-content .dx-texteditor {
    @include text-editor-base-format();
  }

  .active-properties-basic-tab-content .dx-texteditor.caption-input {
    padding-left: 5px;
    margin-bottom: 7px;
  }

  .active-properties-basic-tab-content {
    @include align-center-via-flex();
    border-top: 1px solid #888;
    padding: 10px;
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .loader {
    background: #ffffff;
    z-index: 10;
    margin: 0;
    font-size: 2px;
    position: fixed;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(3, 0, 89, 0.2);
    border-right: 1.1em solid rgba(3, 0, 89, 0.2);
    border-bottom: 1.1em solid rgba(3, 0, 89, 0.2);
    border-left: 1.1em solid rgba(3, 0, 89, 1);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .property-tab-in-column-chooser {
    border-radius: 0;
    text-align: left;
  }

  .property-tab-in-data-dictionary {
    border-radius: 15px 15px 0 0;
    text-align: center;
  }

  .basic-format-toggle-icon {
    color: $accent-color;
    font-size: 18px;
  }

  .active-properties-basic-tab-content i.active {
    background: $selected-item-color;
    border-radius: 2px;
  }

  i.fa-chart-bar.fas.left-pin {
    transform: rotate(90deg);
  }

  i.fa-chart-bar.fas.right-pin {
    transform: rotate(-90deg);
  }

  .format-alignments-container {
    @include align-center-via-flex();
    justify-content: flex-start;
    margin-bottom: 7px;
  }

  .pin-font-style-container {
    @include align-center-via-flex();
    justify-content: flex-start;
    margin-bottom: 7px;
  }

  .format-controls-container {
    width: 90%;
  }

  .text-font-style-container {
    @include align-center-via-flex();
    justify-content: flex-start;
  }

  .text-margin-style,
  .background-margin-style {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .caption-font-style {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .flex-child {
    flex: 1;

    >div {
      height: 26px;
    }

    .icon-container {
      display: flex;
      height: 26px;
      justify-content: flex-start;

      i {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 0 1 25px;
        height: 100%;
        justify-content: center;
        margin-right: 5px;
      }
    }
  }

  .dx-texteditor-input {
    color: $fly-out-primary-text-color;
  }

  .dx-colorbox-input-container.dx-colorbox-color-is-not-defined .dx-colorbox-color-result-preview {
    background: transparent;
  }

  .dx-colorbox-color-result-preview {
    border-radius: 50%;
    color: transparent;
  }

  .dx-dropdowneditor-icon:before {
    color: #9b9ea0;
    content: "";
    font-size: 11px;
  }
}
