@mixin align-center-via-flex {
  display: flex;
  justify-content: center;
}

$text-widget-background: rgba(255, 255, 255, 0.1);

pbi-column-chooser {
  .form-group.columns-search {
    @include align-center-via-flex();
  }

  .column-list-container {
    @include align-center-via-flex();
  }

  .columns-search .dx-searchbox.dx-texteditor.dx-editor-outlined {
    background: transparent;
    border: none;
    color: #ffffff;
    height: 36px;
  }

  .columns-search-container {
    padding: 5px;
    border-top: 1px solid #888;
  }

  .columns-search .text-container {
    background: $text-widget-background;
    border-radius: 2px;
    width: 90%;
  }

  .columns-search .dx-texteditor-input {
    min-height: 15px;
    padding: 0 30px;
    color: $fly-out-primary-text-color;
  }

  .columns-search .dx-icon-clear {
    width: 50px;
  }

  .cgf-columns-list {
    display: flex;
    align-items: center;
    line-height: 36px;
  }

  .column-visible-label {
    padding-right: 12px;
  }

  .column-header {
    display: flex;
    align-items: center;
  }

  .selectedColumn {
    background: $selected-item-color;
    color: $primary-text-color;
  }

  .active-properties-tab ul li {
    align-items: center;
    background-color: $accordion-color;
    color: $primary-text-color;
    display: flex;
    font-size: 14px;
    height: 42px;
    justify-content: space-between;
    padding: 8px 20px 4px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .active-properties-basic-tab-content .dx-texteditor {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #b2b0b0;
  }

  .active-properties-basic-tab-content {
    border: 1px solid #888;
    padding: 10px;
  }

  .columnChooser-group-columns-without-format {
    min-height: 500px;
    max-height: 500px;
  }

  .columnChooser-group-columns {
    margin-top: 10px;
    min-height: 250px;
    overflow-y: auto;
    width: 90%;
  }

  .columnChooser-group-columns table thead tr th:nth-child(1) {
    width: 15%;
  }

  .columnChooser-group-columns-with-format {
    max-height: 250px;
  }

  .column-chooser-container {
    @include cgfFlyOutContainer();
  }

  .header-title {
    @include headerTitle();
  }

  .section-title {
    font-size: 14px;
    padding-left: 15px;
    text-transform: uppercase;
  }

  .title-icon {
    color: $title-icon;
  }

  .property-tab-in-column-chooser {
    cursor: pointer;
  }

  .basic-format-toggle-icon {
    color: $accent-color;
    font-size: 18px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10%;
  }

  .dx-button-mode-contained.dx-button-default.cacheButton,
  .dx-button-mode-contained.dx-button-default.cacheButton.dx-state-hover,
  .dx-button-mode-contained.dx-button-default.cacheButton.dx-state-active,
  .dx-button-mode-contained.dx-button-default.cacheButton.dx-state-focused {
    @include primary-button();
  }

  .accordion-content {
    background: $background-for-tab-content;
  }

  .align-label-icon {
    @include align-label-icon();
  }

  .column-list-label {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
    width: calc(100% - 35px);
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin: 3px 3px 3px 4px;
  }

  .groupContainer {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      font-weight: bold;
    }
  }
}
