pbi-conditional-formatting {
    .widget-container {
        display: flex;
        flex-direction: column;
        background: #333179;
        height: 84%;
    }

    .rule-list-container {
        margin: 0 20px 20px;
        height: 100%;
        background: #474686;

        &.dynamic-rule-list {
            height: inherit;
        }
    }

    .expression-container {
        padding: 20px;
    }

    .column-list,
    .applyTypeContainer {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .add-icon-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        padding-right: 15px;
        margin-top: 5px;
        align-items: center;
    }

    .conditional-formatting-container {
        @include cgfFlyOutContainer();
    }

    //rebranding
    .header-title {
        @include headerTitle();
    }

    .section-title {
        font-size: 14px;
        padding-left: 15px;
        text-transform: uppercase;
    }

    .title-icon {
        color: $primary-color;
    }

    .align-label-icon {
        @include align-label-icon();
    }

    .apply-column .dx-texteditor.dx-editor-outlined {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        border: none;
        color: #ffffff;
    }

    .apply-column .input-element {
        box-shadow: none;
    }

    .apply-format {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .fly-out-round-add-icon {
        background: #0675a4;
        border-radius: 50%;
        padding: 5px;
        z-index: 600;
    }

    .add-rule-text {
        margin: 5px 5px 5px 5px;
    }

    .rule-list-container .dx-list .dx-empty-message,
    .radioCollection {
        color: #ffffff;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        margin-top: 10%;
    }

    .save-button,
    .save-button.dx-state-hover,
    .save-button.dx-state-active,
    .save-button.dx-state-focused {
        &.dx-button-mode-contained.dx-button-default {
            @include primary-button();
        }
    }

    .conditional-filter .dx-filterbuilder {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 2px;
        border: none;
        color: #ffffff;
    }

    .dynamic-height {
        height: 118px;
        background: #474686;
        margin-bottom: 20px;
    }

    .dynamic-height .dx-list.dx-empty-message {
        border-top: none;
        color: #ffffff;
    }

    .rule-list-container .dx-list .dx-empty-message,
    .radioCollection {
        color: #ffffff;
    }

    .filter-container,
    .rule-list-container .dx-list {
        background: #474686;
        color: #ffffff;
        margin-bottom: 20px;
        overflow: auto;
    }

    .rule-list-container.dynamic-rule-list .dx-list {
        height: 110px;
        min-height: 110px;
    }
}
