pbi-entity-parameters {
    .parameter-controls-container {
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(208, 210, 211, 0.4);
        background-color: #ffffff;
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;
        margin-right: 25px;
        margin-bottom: 5px;
    }

    .parameter-controls-container {
        border-radius: 4px;
        box-shadow: 0 2px 8px 0 rgba(208, 210, 211, 0.4);
        background-color: #ffffff;
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;
        margin-right: 25px;
        margin-bottom: 5px;
    }

    .single-date-picker {
        width: 100% !important;
    }

    .parameter-controls-data-container {
        padding-top: 8px;
    }

    .parameter-header-label {
        font-size: 16px;
        line-height: 1.38;
        letter-spacing: 0.2px;
        color: #9b9ea0;
        text-transform: uppercase;
        font-weight: 100;
    }

    .parameter-edit-icon {
        font-size: 18px;
        color: #fff;
        margin-top: 10px;
    }

    .data-entity-parameter-edit-label {
        display: inline-block;
        font-size: 14px;
        line-height: 15px;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 400px;
    }

    .parameter-edit-icon-container {
        background-color: #00669a;
        display: inline-block;
        height: 36px;
        text-align: center;
        width: 54px;
    }

    .data-entity-parameter-container {
        height: inherit;
        width: inherit;
    }

    .dynamic-chk-box-container {
        background-color: transparent;
        box-shadow: none;
    }

    .date-short-cut-item-label {
        vertical-align: text-bottom;
        padding-left: 5px;
        font-size: 14px;
        font-weight: 100;
    }

    .active-item {
        background-color: #00669a;
        color: #fff;
    }

    #parameter-list-container > div {
        display: inline-block;
    }

    #parameter-list-container > div.parameter-item-container {
        margin-right: 10px;
        margin-left: 10px;
        vertical-align: bottom;
    }

    .drag-icon {
        padding-left: 5px;
        color: #9b9ea0;
        cursor: move;
    }

    .hideInBrowser {
        border: 4px ridge transparent;
        box-shadow: 0 2px 8px 0 transparent;
        padding-left: 7px;
        padding-right: 7px;
    }

    .border-highlight {
        border-color: #dfe1e6;
        box-shadow: 0 2px 8px 0 rgba(208, 210, 211, 0.4);
    }

    .label-padding-top {
        padding-top: 15px;
    }
}
