pbi-filter {
    height: 100%;
    display: block;

    .dx-popup-content {
        padding: 0;
    }

    .filter-options {
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: transparent;
        margin-bottom: 20px;
        overflow: auto;
        padding-left: 12px;
        padding-top: 7px;
    }

    .filter-options > .filter-builder {
        background: transparent;
        color: $primary-text-color;
    }

    .filterApplied[role="columnheader"] {
        background: #2196f3;
    }

    .filter-list-div {
        padding-top: 5px;
        padding-bottom: 20px;
        border-bottom: 1px solid #1b221c;
    }

    .filter-type {
        padding: 20px;
    }

    .filter-band {
        padding: 0 20px;
        font-weight: bold;
    }

    .filter-type .dx-radiobutton {
        display: inline-flex !important;
    }

    .filter-type .dx-radiobutton:nth-child(2) {
        margin-left: 100px;
    }

    .filter-root {
        padding: 0 20px;
        height: 36px;
    }

    .filter-root .dx-texteditor {
        border: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.35);
        border-radius: 0;
        background: none !important;
    }

    .filter-visual-tabs {
        padding: 0 0 0 0;
    }

    .filter-visual-tabs ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .filter-visual-tabs ul li {
        float: left;
        text-align: center;
        min-width: 8em;
        min-height: 2em;
        padding: 4px 20px 4px 20px;
        border-radius: 10px 10px 0 0;
    }

    .filter-root .dx-texteditor-input {
        background: none;
    }

    .filter-tabs-header {
        height: 30px;
        background-color: #41a8f5;
        width: 100px;
        border-radius: 10px 10px 0px 0px;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        padding-top: 6px;
        margin-top: 10px;
    }

    /*#region angular migration ui fixes*/
    .dx-filterbuilder-overlay .dx-scrollable-container {
        max-height: 190px;
    }

    .dx-filterbuilder-item-value .dx-texteditor-container .dx-texteditor-input {
        padding-right: 0px;
    }

    .dx-filterbuilder .dx-filterbuilder-range {
        display: inline-grid;
    }

    .filter-options .dx-texteditor,
    .filter-options .dx-datebox {
        width: 110px;
    }

    .dx-filterbuilder-range-separator {
        text-align: center;
        margin: 0px 5px 7px 7px;
    }

    .dx-filterbuilder .dx-filterbuilder-group .dx-filterbuilder-text .dx-filterbuilder-item-value-text {
        width: fit-content;
    }

    /*#endregion angular migration ui fixes*/

    .filter-container {
        @include cgfFlyOutContainer();
    }

    .header-title {
        @include headerTitle();
    }

    .title-icon {
        color: $title-icon;
    }

    .section-title {
        font-size: 14px;
        padding-left: 15px;
        text-transform: uppercase;
    }

    .active-properties-tab ul li {
        align-items: center;
        background-color: $accordion-color;
        color: $primary-text-color;
        display: flex;
        font-size: 14px;
        height: 42px;
        justify-content: space-between;
        padding: 8px 20px 4px 20px;
        border-bottom: 1px solid #45526f;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        margin-bottom: 20px;
        margin-top: auto;
    }

    .apply-filter-button,
    .apply-filter-button.dx-state-hover,
    .apply-filter-button.dx-state-active,
    .apply-filter-button.dx-state-focused {
        &.dx-button-mode-contained.dx-button-default {
            @include primary-button();
        }
    }

    .accordion-data-container {
        background: $background-for-tab-content;
        border: 1px solid #45526f;
        height: 78%;
    }

    .align-label-icon {
        @include align-label-icon();
    }
}
