@mixin cgfFlyOutContainer {
  color: $fly-out-primary-text-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
  height: 100%;
}

@mixin headerTitle {
  align-items: center;
  color: $fly-out-primary-text-color;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  margin-left: 7px;
  padding: 10px 25px 10px 10px;
  justify-content: space-between;
}

@mixin primary-button {
  background-color: $primary-color;
  border-radius: 4px;
  width: 100px;
}

@mixin align-label-icon {
  display: flex;
  align-items: center;
}

pbi-fly-out-action-icon-container {
  .icon-list li {
    color: #9b9ea0;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
  }

  .icon-list li:hover,
  .active-icon {
    color: #0e91f9;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .flex-start {
    display: flex;
    justify-content: flex-start;
  }

  .filter-list li:hover,
  .active-flyOut {
    color: #0e91f9;
  }
}
