pbi-settings {
    @mixin align-center-via-flex {
        display: flex;
        justify-content: center;
    }

    @mixin button-base {
        background: $text-widget-background;
        border-radius: 4px;
        border: 1px solid #5a6b83;
        color: #ffffff;
    }

    .cgf-settings-header-container {
        color: #41a8f5;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .hide-grid-chk-box-container {
        min-width: 100px;
    }

    .settings-custom-btn.dx-button {
        @include button-base();
        height: 90px;
        width: 95px;
    }

    .settings-custom-btn-dem {
        @include button-base();
        height: 45px;
    }

    .settings-custom-btn i,
    .settings-custom-btn-dem i {
        font-size: 22px;
        color: $primary-text-color;
    }

    .settings-custom-btn-dem.auto-fit {
        margin-left: 15px;
    }

    .auto-fit-container {
        margin-left: 15px;
        vertical-align: top;
        margin-top: 4px;
    }

    .workFlowIcon {
        font-size: 26px;
        text-align: center;
        color: #9b9ea0;
        margin-top: 8px;
    }

    .sub-section {
        color: #000000;
        font-weight: bold;
    }

    .sub-section-container {
        margin-top: 15px;
        font-size: 11px;
    }

    .sub-section-container.extra-margin-top {
        margin-top: 30px;
    }

    .settings-container {
        @include cgfFlyOutContainer();
    }

    .header-title {
        @include headerTitle();
    }

    .title-icon {
        color: $title-icon;
    }

    .section-title {
        font-size: 14px;
        padding-left: 15px;
        text-transform: uppercase;
    }

    .active-properties-tab ul li {
        align-items: center;
        background-color: $accordion-color;
        color: $primary-text-color;
        display: flex;
        font-size: 14px;
        height: 42px;
        justify-content: space-between;
        padding: 8px 20px 4px 20px;
        border-bottom: 1px solid #45526f;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .accordion-data-container {
        display: flex;
        justify-content: center;
        padding: 5px;
    }

    .basic-format-toggle-icon {
        color: $accent-color;
        font-size: 18px;
        font-weight: 500;
    }

    .export-button-containers {
        display: flex;
        flex-wrap: wrap;
    }

    .export-button-containers > div {
        margin: 0 10px;
    }

    .export-button-containers > div:first-child {
        margin-left: 0;
    }

    .button-template > div {
        margin-top: 15px;
    }

    .rotate-270deg {
        transform: rotate(270deg);
    }

    .button-text {
        font-size: 12px;
        white-space: nowrap;
    }

    .DEMButtonTemplate {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .DEMButtonTemplate > .button-text {
        margin-left: 5px;
    }

    .grid-control-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 30px;
    }

    .section {
        margin-top: 30px;
    }

    .accordion-data-container {
        background: $background-for-tab-content;
        height: inherit;
        border: 1px solid #45526f;
    }

    .align-label-icon {
        @include align-label-icon();
    }
}

.theme-dropdown {
    background: $text-widget-background;
    color: $primary-text-color;
    border-radius: 2px;
    margin-bottom: 10px;
}

.theme-item {
    display: flex;
}

.theme-name {
    flex: 1;
}

.theme-icon {
    color: #6bb3cb;
}

.selected-theme {
    background-color: #fff;
    color: #6bb3cb;
    font-weight: 700;
}
