@mixin align-center-via-flex {
  display: flex;
  justify-content: center;
}

pbi-view-selection {
  display: block;
  height: 100%;

  .layoutButtonContainer {
    border-top: 1px solid #45526f;
    bottom: 50px;
    padding: 5px;
    width: 400px;
  }

  .layoutDeleteIcon {
    font-size: 15px;
    padding: 6px;
  }

  .default-icon-color {
    color: #ccc;
  }

  .viewSelectionContainer {
    @include cgfFlyOutContainer();
  }

  .header-title {
    @include headerTitle();
  }

  .title-icon {
    color: $title-icon;
  }

  .section-title {
    font-size: 14px;
    padding-left: 15px;
    text-transform: uppercase;
  }

  .active-properties-tab ul li {
    align-items: center;
    background-color: $accordion-color;
    color: $primary-text-color;
    display: flex;
    font-size: 14px;
    height: 42px;
    justify-content: space-between;
    padding: 8px 20px 4px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .viewSelectionContainer .dx-texteditor {
    background: transparent;
    border: 0 solid;
    color: $primary-text-color;
  }

  .layout-info-container {
    width: 90%;
    padding-top: 5px;
    padding-right: 7px;
  }

  .layout-info-container > span {
    align-items: center;
    border-left: 5px solid transparent;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: space-between;
    padding: 0 5px 0 2px;
  }

  .layout-info-container > span.selectedLayout {
    border-left-color: $selected-item-color;
    font-style: italic;
    font-weight: bold;
  }

  .basic-format-toggle-icon {
    color: $accent-color;
    font-size: 18px;
  }

  .input-container {
    border-bottom: 1px solid #45526f;
    border-top: 1px solid #45526f;
    display: flex;
    justify-content: center;
  }

  .input-container > div {
    background: $text-widget-background;
    border-radius: 2px;
    margin: 10px 0;
    width: 90%;
  }

  .input-container.view-name-container {
    border: 0;
  }

  .layoutName {
    cursor: pointer;
    flex-grow: 4;
    padding-left: 5px;
  }

  .views-list-detail-container {
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;
    background-color: #333179;
  }

  .pinned-list-detail-container {
    max-height: 140px;
    min-height: 140px;
    overflow-y: auto;
  }

  .views-list-detail-container > div {
    display: flex;
    justify-content: center;
  }

  .view-operation-buttons.dx-button-default,
  .view-operation-buttons.dx-button-default.dx-state-hover,
  .view-operation-buttons.dx-button-default.dx-state-focused,
  .view-operation-buttons.dx-button-default.dx-state-active {
    @include primary-button();
  }

  .fly-out-round-add-icon {
    background: #0675a4;
    border-radius: 50%;
    margin-right: 15px;
    outline: 0;
    padding: 8px;
  }

  .add-icon:hover {
    color: $primary-text-color;
  }

  .add-search-container {
    border-bottom: 1px solid #45526f;
    border-top: 1px solid #45526f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .text-search {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 13px;
    flex-grow: 0.85;
    border-radius: 15px;
  }

  .hide-save-button {
    display: none;
  }

  .save-button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10%;
  }

  .empty-message {
    margin: 20px;
    padding: 10px;
    height: 120px;
    background: #333179;
  }

  .dynamic-height-container {
    min-height: 520px;
  }

  .applied-layout {
    margin-left: 5px;
  }

  .dx-searchbox {
    .dx-texteditor-input {
      color: #ffffff;
    }
  }
}
