pbi-navigation-section{
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    background-color: $secondary-color;
    margin: 0 5px;

    .search-box {
        padding: 10px;
        background-color: nth($secondary-color-lighter-derivations, 1);

        .form-group[role="search"] {
            height: 34px;
            width: 100%;
            border-radius: 4px;
            display: inline-block;
            margin: 0;
            vertical-align: middle;
            position: relative;
            border: transparent;

            .form-control {
                height: 100%;
                width: 100%;
                margin: 0;
                padding: 0 30px 0 10px;
                border-radius: 4px;
                background-color: nth($secondary-color-lighter-derivations, 2);
                color: white;
                border-color: transparent;
                font-weight: 400;
                font-size: 12px;
                &:focus {
                    outline: 0;
                    border-color: $primary-color;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($primary-color, 0.6);
                }
            }
        }

        // bootstrap's default, do we need this?
        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
    }

    .actions {
        display: flex;
        width: 100%;  
        height: 30px;      
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid nth($secondary-color-lighter-derivations, 2);
        .navigation-action {
            color: white;
            font-size: 16px;
            opacity: .5;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .info {
        padding: 10px;
        > div{
            height: 25px;
            font-size: 12px;
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
    }

    > pbi-navigation-content {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
    }
}

@include breakpoint(md){
    pbi-navigation-section {
        position: absolute;
        left: 100%;
    }
}