pbi-navigation-menu {
    position: absolute;
    display: block;
    color: white;
    width: 300px;
    left: 0px;
    top: 0px;
    bottom: 0;
    z-index: 120;
    border-radius: 0px 20px 0 0;
    background-color: $secondary-color;
    transition: width .2s ease-in-out;

    .navigation-section {
        padding: 0;
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        > i {
            height: 100%;
            display: flex;
            flex: 0 0 60px;
            font-size: 22px;
            align-items: center;
            justify-content: center;
            opacity: .5;
            &:nth-child(2){
                justify-content: flex-end;
            }
        }
        > span {
            white-space: nowrap;
        }

        > i, > span {
            &:hover{
                cursor: pointer;
                opacity: 1;
            }
        }        
    }

    .navigation-item{
        position: relative;
        > div {
            display: flex;
            height: 60px;
            width: 100%;
            padding-right: 10px;

            > div {
                display: flex;
                align-items: center;
                height: 100%;
                &:first-child{
                    width: 100%;
                    overflow: hidden;
                }
                &:nth-child(2), &:last-child{
                    flex: 0 0 30px;
                    justify-content: center;
                }
            }

            &:hover{
                cursor: pointer;
                > div {
                    &:first-child{
                        .text, .icon {
                            opacity: 1;
                        }
                    }
                    &:nth-child(2), &:last-child{
                        .icon {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
        .icon {
            height: 100%;
            display: flex;
            flex: 0 0 60px;
            font-size: 18px;
            align-items: center;
            justify-content: center;
            opacity: .5;
        }

        .text {
            opacity: .5;
            font-size: 14px;
            font-weight: 700;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &.toggle {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            .icon {
                opacity: 1;
            }
        }
    }

    &.collapsed {
        width: 60px;
        height: 60px;
        overflow: hidden;

        > .navigation-item{
            > div {
                > div {
                    &:first-child{
                        .text{
                            display: none;
                        }
                    }
                    &:nth-child(2), &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
}

@include breakpoint(md){
    pbi-navigation-menu {
        top: 80px;

        &.collapsed {
            height: initial;
            overflow: initial;
        }
    }
}