pbi-navigation-content{
    position: relative;
    display: block;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    width: 350px;
    margin: 0 5px;

    .items {
        padding: 0px 10px 5px 10px;
        overflow: auto;
    }
    
    .navigation-group{
        > span {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            display: flex;
            align-items: center;
            height: 40px;
        }
    }

    .navigation-item{
        position: relative;
        > div {
            height: 40px;
            padding-right: 0px;
            > div{
                &:first-child{
                    .icon {
                        margin-right: 5px;
                    }
                }
            }
        }
        
        .icon {
            flex: 0 0 35px;
            font-size: 16px;
        }
    }

    &.flyout{
        display: none;
        position: absolute;
        left: 100%;
    }

    &.child{

    }
    
}


@include breakpoint(md){
    pbi-navigation-content {
        &.flyout{
            display: block;
        }

        &.child {
            display: none;
        }
    }
}