$accordion-color: $secondary-color;
$background-value: linear-gradient(0deg, #1c1a6a, #1c1a6a), $secondary-color;
$background-for-tab-content: rgb(51, 49, 122);
$primary-text-color: #ffffff;
$selected-item-color: #00bfff;
$text-widget-background: rgba(255, 255, 255, 0.1);
$title-icon: $primary-color;

@mixin align-center-via-flex {
  display: flex;
  justify-content: center;
}

@mixin primary-button {
  background-color: $primary-color;
  border-radius: 4px;
  width: 100px;
}

@mixin align-label-icon {
  display: flex;
  align-items: center;
}
