$fly-out-width: 400px;

pbi-common-grid-framework {
  /* scrollbar new rebranding changes 26th June 2020*/
  /* width */
  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    border-radius: 10px;
  }

  display: flex;
  flex-direction: column;
  height: 100%;

  .grid-and-fly-out-container {
    display: flex;
    height: 100%;

    .fly-out-close-grid-width {
      width: 100%;
      height: 100%;
    }

    .fly-out-open-grid-width {
      width: calc(100% - #{$fly-out-width});

      pbi-grid {
        margin-right: 0;
      }
    }

    .fly-out-container {
      border-radius: 15px 0 0 15px;
      width: $fly-out-width;
      background: $background-value;
      overflow-y: auto;
      > div {
        height: 100%;
      }
    }
  }

  .action-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .entity-param-with-edit-button-container {
      margin-right: 15px;
    }

    i {
      font-size: 18px;
      color: #9b9ea0;
      &:hover {
        color: #0e91f9;
      }
    }

    .data-entity-parameter-edit-label {
      display: inline-block;
      font-size: 14px;
      line-height: 15px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 400px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.pbi-split-button {
  .dx-dropdownbutton-action:not(.dx-buttongroup-last-item).dx-button {
    background-color: $primary-color;
    border-radius: 4px 0 0 4px;
    color: #fff;
    min-width: 110px;
    min-height: 40px;
  }

  .dx-buttongroup-item.dx-button-mode-contained.dx-button,
  .dx-buttongroup-item.dx-button-mode-outlined.dx-button:nth-child(2) {
    background-color: $primary-color;
    border-left: 1px solid #fff;
    border-radius: 0 4px 4px 0;
    color: #fff;
    justify-content: center;
    min-width: 30px;
  }

  .dx-button-mode-outlined .dx-icon {
    color: #fff;
  }
}

.display-inline-block {
  display: inline-block;
}

// Below css will make sure element is able to inherit color from the container if given.
// Discuss before making any alteration.
.dx-texteditor-input,
.dx-filterbuilder .dx-filterbuilder-group .dx-filterbuilder-text,
.dx-texteditor.dx-editor-outlined,
.dx-list-item,
.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover,
.dx-widget,
.dx-list .dx-empty-message {
  color: inherit;
  background: inherit;
  background-color: inherit;
}
