pbi-grid {
  height: 100%;
  display: block;
  margin: 0 10px;

  dx-data-grid {
    height: 100%;
  }

  // .filterApplied[role="columnheader"] {
  //   background: #2196f3;
  // }

  .dx-datagrid {
    .dx-header-filter {
      &:not(.dx-header-filter-empty) {
        color: #2196f3;
      }
    }
  }

  .dx-row.dx-column-lines.dx-datagrid-filter-row .dx-texteditor-input-container > input {
    background: #e5f2f7;
  }

  .actionColumnContainer {
    i {
      padding: 0 3px;
    }
  }

  .bold {
    font-weight: bold;
  }

  .italic {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }
}
