.pbi-modal-popup {
    .dx-popup-content {
        padding: 0;
    }

    .dx-popup-title {
        padding: 20px;
        border-bottom: 0;
    }

    .dx-popup-title .dx-toolbar-label {
        color: #3b3e42;
        font-size: 24px;
        font-weight: 500;
    }

    .pop-up-footer {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }

    .view-flex-container {
        display: flex;
        flex-direction: row;
        padding: 30px;
        background: #f5f7f8;
    }

    .view-flex-container:nth-child(2) {
        padding-top: 0;
    }

    .view-name-container {
        flex: 1;
    }

    .view-label-container {
        flex: 1;
        margin-left: 20px;
    }

    .view-action-button {
        display: flex;
    }

    .cancel-button,
    .cancel-button.dx-state-hover,
    .cancel-button.dx-state-focused,
    .cancel-button.dx-state-active {
        background-color: transparent;
        color: #9b9b9b;
        font-size: 16px;
        margin-right: 10px;
        min-width: 110px;
        padding: 3px;
        text-transform: uppercase;
    }

    label {
        color: rgba(0, 0, 0, 0.4);
    }
}
