@function getColorDerivations($mixing, $color, $strengths){
    $derivations: [];
    @each $strength in $strengths {
        $derivations: append($derivations, mix($mixing, $color, $strength));
    }
    @return $derivations;
}

@function getColorLighterDerivations($color, $strengths){
    @return getColorDerivations(white, $color, $strengths);
}

@function getColorDarkerDerivations($color, $strengths){
    @return getColorDerivations(black, $color, $strengths);
}