/*reset css*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
}

/* end reset css*/

.display-none {
    display: none;
}

.pbi-text-editor {
    box-shadow: 0 2px 8px 0 rgba(208, 210, 211, 0.4);

    &.dx-texteditor {
        &.dx-editor-outlined {
            border-width: 0;
            border-radius: 4px;
        }
    }

    input {
        min-height: 40px;
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: $accent-color;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch.disable-switch {
    opacity: 0.2;
}

 .far,
 .fa,
 .fas,
 .fad {
     cursor: pointer;
 }

@import "./cgf/index";
@import "./cgf/flyOut/index";
